<!DOCTYPE html>

<!-- define app and controller -->
<html ng-app="linkApp" ng-controller="mainController">
	
<head>
	
	<!-- pull in css based on angular ($scope.css from mainController) -->
	<link rel="stylesheet" ng-href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/{{ css }}/bootstrap.min.css">
	<link rel="stylesheet" ng-href="layout-{{ layout }}.css">
	<style>
		body { padding-top: 50px; }
	</style>
	
	<!-- bring in JS and Angular -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
	<script src="app.js"></script>
</head>

<body class="container">
	
	<!-- style selection -->
	<div class="well">
		<form>
			
			<div class="form-group">
				<label>Theme</label>
				<select class="form-control" ng-model="css" ng-options="bootstrap.url as bootstrap.name for bootstrap in bootstraps"></select>
			</div>
			
			<div class="form-group">
				<label>Layout</label>
				<select class="form-control" ng-model="layout" ng-options="layout.url as layout.name for layout in layouts"></select>
			</div>
			
		</form>
	</div>
	
	
	<!-- content -->
	<div class="picture-thing">
		<div class="picture-thing-img">
			<img src="https://cask.scotch.io/2014/10/picture-picture.jpg">
		</div>
		<div class="picture-thing-content">
			<h2>Seek your mentor...</h2>
			<p>and get Drunk.</p>
		</div>
	</div>
	
</body>
</html>
